.city1 {
    background-color:#13C5DD;;
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: left;
  
  
  }
  .city2 {
    background-color:#13C5DD;;
    color: white;   
    margin: 10px;
    padding: 10px;
    text-align: left;
  }
